<%- include("header") -%>
    <div class="box" id="heading">
        <h1><%= date %></h1>
    </div>
    <div class="box">  
        <% todos.forEach(function(todos){ %>
            <form method="post" action="/delete">
                <div class="item">
                    <input type="checkbox" value="<%= todos._id %>" name="checkbox" onChange="this.form.submit()"> 
                    <p><%= todos.name %></p>
                </div>
            </form>
        <% }) %>
            <form class="item" method="post" action="/">
                <input type="text" name="newItem" placeholder="Enter todo" autocomplete="off">
                <button type="submit" name="submit">+</button>
            </form>
        </div>
<%- include("footer") -%>